<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay"  >
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Elite Schedule</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide = "false" >
          <ion-item (click)="goHome()">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item (click)="gotoTournament()">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Find a Tournament</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            <ion-label>Messages</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-list-header>Favorites</ion-list-header>
          <ion-item *ngFor="let fav of favoriteTeams" (click)="gotoTeam(fav)">
            <ion-icon name="star"></ion-icon>
            <ion-label>{{fav.team.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>